{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Accounts' %}
{% set active = 'account' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-edit"></i> Register New Account
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Accounts Table -->
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="box box-primary">

                    <form role="form" method="post" action="{{ path('angle_nt_app_account_new') }}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="accountName">Account Name</label>
                                <input type="text" class="form-control" id="accountName" name="accountName" placeholder="Enter a unique name">
                            </div>
                            <div class="form-group">
                                <label for="accountType">Account Type</label>
                                <select class="form-control" id="accountType" name="accountType">
                                    <option value="" selected="selected" disabled="disabled">-- Select type --</option>
                                    {% for key, name in account.availableTypes %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="accountCreditLimit">Account Credit Limit</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" id="accountCreditLimit" name="accountCreditLimit" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#accountType').change(function(){
            //console.log('New type selected: ' + $(this).val());
            // Check if the selected account type is Credit, if so, enable the Credit Limit input
            var $i = $('#accountCreditLimit');
            if ($(this).val() == 'C') {
                $i.removeAttr('disabled');
            } else {
                $i.attr('disabled','disabled');
            }
        });
    </script>
{% endblock %}