{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Help' %}
{% set active = 'howto' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            How to use NickelTracker
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Pending Approval Loans -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-info"></i>
                        <h3 class="box-title">General Information</h3>
                    </div>

                    <div class="box-body">
                        <p>NickelTracker is a very simple tool that combines the <em>Envelope Budget</em> methodology
                        with a very basic expense tracker.</p>
                        <p>The purpose of the Envelope Budget methodology is to help you plan your monthly expenses and
                            divide them into categories, so you can assign a budget to each one and keep away the
                            money you'll be needing to cover each of those expenses. This way, you won't spend your payroll
                            on stuff that is unplanned or unneeded.</p>
                        <p>On the other hand, the expense tracker helps you keep a log of where you are spending your money.
                            NickelTracker is not automated in any way and is not linked to any banking institution, which
                            means that you'll have to be disciplined and record manually each and every transaction you
                            make.</p>
                        <p>NickelTracker is not, nor attempts to be, a financial adviser. It should be though of as a
                            friendly and simple tool to help you manage your finances and make informed decisions about
                            your money.</p>

                        <h4>Objects</h4>
                        <p>The system uses 3 core <em>objects</em> or concepts to record and track your budget and expenses.
                        You should deeply understand each of these concepts before using NickelTracker.</p>
                        <ul>
                            <li><strong>Accounts</strong> are where your money is stored or kept. They can be one of these types:
                            <ul>
                                <li>Cash: all your money that is not on the bank.</li>
                                <li>Debit: regular checking accounts in the bank.</li>
                                <li>Savings: pretty much like a Debit account, but it is meant to keep your money as a long-term
                                saving or investment.</li>
                                <li>Credit: all bank credit cards and service cards (this account type's balance is usually negative).</li>
                                <li>Coupon: employee benefits card / wallet for groceries and such.</li>
                                <li>Loaned: to keep records of the money you loan to or borrow from your friends.</li>
                            </ul>
                            </li>
                            <li><strong>Categories</strong> are only used for expenses and they are the basis for creating
                            your budget.</li>
                            <li><strong>Transactions</strong> are the core component of the system since they record your
                                payments, purchases, expenses, investments, loans, etc.
                                <ul>
                                    <li>Income: the money you earn</li>
                                    <li>Expense: the money you spend</li>
                                    <li>Transfer: movements of money between your own accounts</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <i class="fa fa-cogs"></i>
                        <h3 class="box-title">Initial Setup</h3>
                    </div>
                    <div class="box-body">
                        <p>Before using NickelTracker to record your expenses, you must setup your account.</p>

                        <h5><strong>1. Setup you Accounts</strong></h5>
                        <p>By default, the system creates 3 sample accounts for you: Cash, Debit and Credit. However,
                            you can (and should) create as many accounts as you have or use. It doesn't matter if you have more than one
                            account of any type. For example, if you have a Mastercard credit card and another Visa, you should
                            create a record for each one of them!</p>

                        <h5><strong>2. Setup your Categories</strong></h5>
                        <p>Think about the expenses you normally make during the month, and now try to group them into categories.
                        You can create as many categories as you'd like, but we've found that having no more than 15 works the best.</p>
                        <p>After you have created all your categories, then you must setup a budget for each one, or decide
                        how much you want to spend in that category each month. In some cases (rent, for example) you might already
                            know how much you have to spend, you can input that directly.</p>
                        <p>Although not recommended, it's okay to have categories with $0 budget, this way you will be able to at
                        least track your expenses in that.</p>

                        <h5><strong>3. Setup your initial balances</strong></h5>
                        <p>Check your balance in each of your accounts, and create a new Income Transaction record for each
                            account putting as "income" your current balance. If everything went okay, the <i class="fa fa-bank"></i>
                            Accounts screen should reflect your current balance across all of your accounts. As a tip, you can
                            set the date of these initial Income Transactions in the month before, so they don't mess up your
                            current month's statistics.</p>
                        <br>
                        <p>That's it! Start registering your transactions as soon as you make them!</p>
                    </div>
                </div>


                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-book"></i>
                        <h3 class="box-title">Transactions</h3>
                    </div>
                    <div class="box-body">
                        {# TODO: start this section with a <p> #}
                        <h4 style="margin-top:0;">Transaction Flags</h4>
                        <strong>Fiscal:</strong> this transaction has generated a fiscal invoice or bill. It is merely informative
                        and it is meant to help you organize your tax declarations.<br>
                        <strong>Extraordinary:</strong> this transaction will not be considered in your budget and limit
                        calculations. (Don't use it to fool yourself!)

                        <!--
                        <h4>Positive Income</h4>
                        <p>Income is only considered as the money you <strong>earn</strong>. For example, your payroll. It is very
                        important to keep this definition clear, else the calculated data will not be accurate.</p>
                        <p>For example, if you pay your friend's full bill with your credit card and they give you
                            their part back in cash, you have not <em>earned</em> that cash, you have actually just
                            <em>spent</em> less that the full bill you paid.</p>
                        <p>At the end of the month, your total income should be</p>

                        <h4>Positive Expense</h4>

                        <h4>Negative Income</h4>

                        <h4>Negative Expense</h4>

                        <h4>Transfers</h4>
                        -->
                    </div>
                </div>

                <!--

                <div class="box box-solid">
                    <div class="box-header with-border">
                        {#<i class="fa fa-text-width"></i>#}
                        <h3 class="box-title">Sample Transactions</h3>
                    </div>
                    <div class="box-body">
                        <p>In order ..</p>
                        <h4>Pay a Credit Card with Cash</h4>

                        <h4>Pay a Credit Card with Cash</h4>
                        <p></p>

                        <h4>Splitting a bill where you pay with a credit card and get cash back</h4>
                        <p>Suppose you are at a restaurant and you are splitting the bill</p>
                        <ol>
                            <li>Create a new expense transaction, </li>
                        </ol>

                        <h4>Paying a bill with a credit card and getting cash back</h4>
                        <p></p>

                    </div>
                </div>

                -->

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-thumbs-o-up"></i>
                        <h3 class="box-title">Tips & Tricks</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <ul>
                                <li>Don't delete accounts. Even though it is possible to delete them, if you do so it can
                                mess up your past transactions and you won't be able to run historical reports of your data.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-lock"></i>
                        <h3 class="box-title">Security</h3>
                    </div>
                    <div class="box-body">
                        <p>Please change your account's password when you log in for the first time.</p>
                        <p>You can change your password in your profile screen (click on the <i class="fa fa-user"></i>
                            button on the top-right of the screen).
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}
