{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Help' %}
{% set active = 'howto' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            How to use NickelTracker
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Pending Approval Loans -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lol?</h3>
                    </div>

                    <div class="box-body">
                        <h1>This is an H1 Title</h1>
                        <p>Text</p>

                        <h2>This is an H2 Title</h2>
                        <p>Text</p>

                        <h3>This is an H3 Title</h3>
                        <p>Text</p>

                        <h4>This is an H4 Title</h4>
                        <p>Text</p>

                    </div>
                </div>


                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>

                        <h3 class="box-title">Headlines</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <h1>h1. Bootstrap heading</h1>

                        <h2>h2. Bootstrap heading</h2>

                        <h3>h3. Bootstrap heading</h3>
                        <h4>h4. Bootstrap heading</h4>
                        <p></p>
                        <h5>h5. Bootstrap heading</h5>
                        <h6>h6. Bootstrap heading</h6>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}
