{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Help' %}
{% set active = 'howto' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            How to use NickelTracker
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Pending Approval Loans -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-info"></i>
                        <h3 class="box-title">General Guidelines</h3>
                    </div>

                    <div class="box-body">
                        <p><strong>NickelTracker</strong> is a very simple system designed around the <em>Envelope Budget</em> methodology.</p>
                        <p></p>

                        <h4>Elements</h4>
                        <p>The system is based on <em>Transactions</em> that</p>
                    </div>
                </div>


                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-book"></i>
                        <h3 class="box-title">Transactions</h3>
                    </div>
                    <div class="box-body">
                        <p></p>

                        <h4>Positive Income</h4>

                        <h4>Positive Expense</h4>

                        <h4>Negative Income</h4>

                        <h4>Negative Expense</h4>

                        <h4>Transfers</h4>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        {#<i class="fa fa-text-width"></i>#}
                        <h3 class="box-title">Sample Transactions</h3>
                    </div>
                    <div class="box-body">
                        <h4>Pay a Credit Card with Cash</h4>

                        <h4>Pay a Credit Card with Cash</h4>
                        <p></p>

                        <h4>Paying a bill with a credit card and getting cash back</h4>
                        <p></p>

                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        {#<i class="fa fa-text-width"></i>#}
                        <h3 class="box-title">Tips & Recommendations</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <ul>
                                <li>Don't delete accounts.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-lock"></i>
                        <h3 class="box-title">Security</h3>
                    </div>
                    <div class="box-body">
                        <p>
                        <ul>
                            <li>Don't delete accounts.</li>
                        </ul>
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}
