<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> {{ include('AngleNickelTrackerCoreBundle::version.html.twig') }}
    </div>
    <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="http://www.angle.mx" target="_blank">Angle Consulting</a>.
</footer>