<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> {{ include('AngleNickelTrackerCoreBundle::version.html.twig') }}
    </div>
    <strong>&copy; {{ "now"|date("Y") }} <a href="http://www.angle.mx" target="_blank">Angle Consulting</a>.</strong>
        All rights reserved.
        <!--AdminLTE Template by <a href="http://almsaeedstudio.com/" target="_blank">Almsaeed Studio</a>.-->
</footer>