/*
 * Hide text overflow in unstyled lists
 */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 90%;
}

.alert {
    border-radius: 0;
}

.monospace {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.hidden {
    display: none;
}


/* Ajaxy Tables */
.editable-td {
    position: relative;
    cursor: text;
}

.editable-td input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.editable-td input:focus {
    border: 1px solid #DDDDDD;
}

.editable-td i {
    position: absolute;
    display: block;
    top: 12px;
    right: 15px;
    z-index: 10;
}

.editable-td i.fa-pencil {
    visibility: hidden;
}

.editable-td:hover i.fa-pencil {
    visibility: visible;
}
.editable-td.loading:hover i.fa-pencil {
    visibility: hidden;
}

/* By default, the spinner is always hidden */
.editable-td i.fa-spinner {
    visibility: hidden;
}

/* Only show the spinner when the TD has a class of "loading" */
.editable-td.loading i.fa-spinner {
    visibility: visible;
}

.editable-field.money::before {
    content: '$';
}
