/*
 * Hide text overflow in unstyled lists
 */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 90%;
}

.alert {
    border-radius: 0;
}

.monospace {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.hidden {
    display: none;
}


/* Pencil hover */
.editable-td {
    position: relative;
    cursor: text;
}
.editable-td i {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    z-index: 10;
    visibility: hidden;
}

.editable-td:hover i {
    visibility: visible;
}

.editable-td input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.editable-td input:focus {
    border: 1px solid #DDDDDD;
}