/*
 * Hide text overflow in unstyled lists
 */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 90%;
}

.alert {
    border-radius: 0;
}

.monospace {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.hidden {
    display: none;
}

.no-results-td {
    text-align: center;
    font-style: italic;
    color: #777; /* muted */
}

.bottom-message {
    padding: 10px 0;
    text-align: center;
}

/* Color box */
.color-box {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

/* Fix Expense Options checboxes */
.expense-options {
    font-size: 0;
}
.expense-options-title {
    display: block;
    font-size: 14px;
}
.expense-options .checkbox {
    width: 50%;
    display: inline-block;
    font-size: 14px;
}

/* Fixing dropdown menu for mobiles */
@media (max-width: 768px) {
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        background-color: #3c8dbc !important;
        border-top-color: #3c8dbc !important;
        border: none;
    }
}

/* Fixing responsive charts */
.chart-responsive {
    padding: 15px 0;
}

/* Fixing Commerce Typeahead (using Twitter's Typeahead) */
#commerce-typeahead label {
    display: block;
}

#commerce-typeahead .twitter-typeahead {
    width: 100%;
}

#commerce-typeahead .twitter-typeahead .tt-menu {
    width: 100%;
    background-color: white;
    border: 1px solid #D2D6DF;
    border-top: none;
}

#commerce-typeahead .twitter-typeahead .tt-dataset {
     /**background-color: blue;**/
     padding: 5px;
 }

#commerce-typeahead .twitter-typeahead .tt-suggestion {
    /**background-color: blue;**/
    padding: 5px;
}

/* Ajaxy Tables */
.editable-td {
    position: relative;
    cursor: text;
}

.editable-td input {
    width: 100%;
    min-width: 150px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.editable-td input.money {
    min-width: 100px;
}

.editable-td input:focus {
    border: 1px solid #DDDDDD;
}

.editable-td i {
    position: absolute;
    display: block;
    top: 12px;
    right: 15px;
    z-index: 10;
}

.editable-td i.fa-pencil {
    visibility: hidden;
}

.editable-td:hover i.fa-pencil {
    visibility: visible;
}
.editable-td.loading:hover i.fa-pencil {
    visibility: hidden;
}

/* By default, the spinner is always hidden */
.editable-td i.fa-spinner {
    visibility: hidden;
}

/* Only show the spinner when the TD has a class of "loading" */
.editable-td.loading i.fa-spinner {
    visibility: visible;
}